.text-18 {
  font-size: 18px;
  line-height: 120%;
  font-weight: 400;
}

.text-20 {
  font-size: 20px;
  line-height: 120%;
  font-weight: 400;
}

.text-24 {
  font-size: 24px;
  line-height: 120%;
  font-weight: 400;
}

.text-bold {
  font-weight: 700;
}
