// colors
$black: #33322e;
$black-light: #878787;
$positive: #8cd4cb;
$positive-light: #d0f4f0;
$negative: #f6a89e;
$negative-light: #fff0ee;
$neutral: #f4d799;
$neutral-light: #f9f3e5;

$transition: 0.2s;
